@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo--title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    display: flex;
    justify-content: space-around;
}

li {
    list-style-type: none;
}