@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', system-ui;
    color: #243e63;
}


.nav__container {
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.nav__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo--title {
   font-size: 24px;
    font-weight: 900;
    margin-left: 12px;
    letter-spacing: 0.6px;
    padding-bottom: 2px;
}

.logo__img {
    width: 40px;
    height: 40px;
}

a {
  text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.nav__links {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.nav__link {
    font-size: 14px;
    font-weight: 600;
    padding-top: 4px;
    letter-spacing: 0.35px;
}

.nav__link {
    margin: 0 24px;
}

.login {
    margin-left: 48px;
}

.nav__link--primary {
    margin: 0;
    padding: 10px 32px;
    margin-top: 2px;
    border-radius: 10000px;
    background-color: #6415ff;
    color: #fff;
}

.nav__link--primary:hover {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
}

.btn__menu {
    
}